* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0f172a;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 3px;
}

.image-box img {
  max-width: 900px;
  height: auto;
}

.form-box {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  width: 400px;
}

.subtitle {
  color: #f97316;
  font-weight: bold;
  margin-bottom: 5px;
}

.title {
  font-size: 28px;
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-row {
  display: flex;
  gap: 10px;
}

.input-row input,
form input,
form select {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

form select {
  background: #e2e8f0;
}

button {
  background-color: #f97316;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #ea580c;
}