

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: white;
    font-family: 'Poppins', sans-serif;

}

.container{
    max-width: 1120px;
    margin-inline: auto;
}

.services-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    height: 100%;
}

.service-box{
    display: flex;
    align-items: center;
    gap: 20px;
     border-radius: 5px;
    padding: 40px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.services-container .service-box i{
    font-size: 64px;
    color: #43ba7f;
    margin-bottom: 30px;
}


.services-container .service-box .service-infor{

display: flex;
flex-direction: column;
       
}

.services-container .service-box .service-infor h4{
     font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;

}
 .services-container .service-box .service-infor p{
    font-size: 15px;
    line-height: 26px;
    color: #212741;
}