
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(255, 255, 255);
      font-family: "Poppins", sans-serif;


}


.container{
    width: min(90%, 1320px);
    margin-inline: auto;
}

/* nav bar style */
header{

    position: fixed;
    height: 110px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(32, 48, 59,0.9);
}
header .main-nav{
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;

}
.main-nav .nav-links{
 display: flex;
 gap: 20px;
 align-items: center;
 justify-content: center;

  
}
.main-nav .logo-img{
  max-height: 110px;
    line-height: 80px;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px;
}
.main-nav img{
    width: 100%;
   
}
.nav-links li{
    padding-left: 25px;
    padding-right: 25px;
    list-style: none;
}
.nav-links li a{
  text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    text-transform: capitalize;
    color: #fff;
    height: 40px;
    line-height: 40px;
    border: transparent;
    letter-spacing: 1px;
}

.nav-links li .contact-us{
    font-size: 14px;
    color: #fff;
    background-color: #43ba7f;
    padding: 10px 20px !important;
    display: inline-block;
    border-radius: 5px;
    font-weight: 500;
    text-transform: capitalize;
    height: auto;
    line-height: 25px;
    letter-spacing: 0.5px;
    transition: all .3s;
    
}
/* submenu style */
.submenu {
  display: none;
  position: absolute;
  background: #333;
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 150px;
  z-index: 1000;
}

.submenu li a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.dropdown:hover .submenu {
  display: block;
}
.about-heading{
    background-image: url("https://templatemo.com/templates/templatemo_574_mexant/assets/images/heading-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 215px 0px 120px 0px;
    text-align: center;
    width: 100%;

}
.about-heading .container{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.about-heading .container h2{
    font-size: 56px;
    color: #fff;
    font-weight: 700;
}
.about-heading .container .line{
    width: 80px;
    height: 6px;
    border-radius: 3px;
    background-color: #fff;
    margin: 20px auto 
}

.about-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
    gap: 30px;
    margin-top: 120px;
    
}
.about-container .left-img img{
    width: 100%;
    border-radius: 10px;
}

.about-container .provided-services{
    border-radius: 5px;
    padding: 50px 40px;
    background-color: rgb(255, 255, 255);
    margin-left: 30px;
    box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.1); 

}
.provided-services .service{
    
    border-bottom: 1px solid rgb(238, 238, 238);
}


.about-container .provided-services .Service-title{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    cursor: pointer;
    padding: 35px 0px !important;
}
.Service-title span:nth-child(1){
    font-size: 19.2px;
    color: rgb(39,39,65);
    font-weight: 600;
    line-height: 28.8px;
}

.Service-title span:nth-child(2){
    font-size: 19.2px;
    color: rgb(39,39,65);
    font-weight: 900;
    line-height: 28.8px;
}

.service p{
   font-size: 15px;
   line-height: 26px;
    color: rgb(33, 39, 65);
    padding: 0px 0px 30px;
    font-weight: 400;
    margin-top: 10px;
}
/* call to actions style */
.call-to-action{
    margin-top: 120px;
    background-image: url("https://templatemo.com/templates/templatemo_574_mexant/assets/images/cta-bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 80px 0px;
}
.call-to-action .container{
    display: flex;
    justify-content: space-between;


}


.call-to-action .container .call-to-actions-infor h4{
    
    font-size: 36px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    line-height: 50px;
}

.call-to-action .container .call-to-actions-infor h4 strong{
    color: rgb(255,81,26);
    font-weight: 700;
}

.call-to-actions-infor h4 em{
    font-style: normal;
    color: rgb(67,186,127);
}

.call-to-actions-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.call-to-actions-btns .discover{

    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(67, 186, 127);
    padding: 12px 30px;
    border-radius: 5px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}

.call-to-actions-btns a{
    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 81, 26);
    padding: 12px 30px;
    border-radius: 5px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: 0.3s;
    text-decoration: none;
}

/* steps to do style */
.steps-to-do{
    margin-top: 120px;
}
.steps-to-do .container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;

}

 .steps-to-do .container .left-contents{
    grid-column: 1 /span 2;
    grid-row: 1 /span 2; 
}



.container .left-contents .left-contents-infor h4{
    font-size: 22px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 40px
}


 .container .left-contents .left-contents-infor p{
    font-size: 15px;
    line-height: 26px;
    color: rgb(33, 39, 65);
    margin-bottom: 40px;
}

.left-contents .discover-btn a{
    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(67, 186, 127);
    padding: 12px 30px;
    border-radius: 5px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: 0.3s;
    text-decoration: none;
}




.container .right-contents{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column: 3/span 5;
    gap: 20px;
    margin-left: 30px;
   
}

.container .right-contents .item{
    border-radius: 5px;
    padding: 40px 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px;
    margin-bottom: 20px;
    position: relative;
    width: 268px;
    height: 180px;
}

.container .right-contents .item em{
    position: absolute;
    font-style: normal;
    font-size: 44px;
    color: rgb(67, 186, 127);
    font-weight: 600;
    right: 15px;
    top: 10px;
}

.container .right-contents .item h4{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 22px;
}

.container .right-contents .item p{
    font-size: 15px;
    line-height: 26px;
    color: #212741;
}
/* partners section style */

.our-partners{
   margin-top: 120px;
    background-color: #212741;
    padding: 100px 0px;
    
    
}
 .our-partners .container{
   max-width: 1120px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
   

}

.container .item img{
   width: 100%;
   margin: 0px 15px;
   cursor: pointer;

}
/* footer section style */

footer{
    background-color: #181d30;
    text-align: center;
    padding: 25px 0px;
   
}
footer .container{
    display: flex;
    flex-direction: column;
    
   
}
footer p{
    color: #fff;
    font-weight: 300;
    text-align: center;
    font-size: 15px;
    line-height: 26px;

}
footer p a{
    text-decoration: none;
    color: #ff511a;
}

/* RESPONSIVE DESIGN OF THE ABOUT PAGE*/
@media(max-width:768px){
   /* about heading respnsive */
   .about-heading{
   max-width: 400px;
    
   }

    .about-container{
        grid-template-columns: 1fr;
       max-width: 400px;
        
    }
    
 .about-container .provided-services .service .Service-title span{

    font-size: 30px;
    color: rgb(39,39,65);
    font-weight: 600;
    line-height: 28.8px;
    
}
.service .service-Description{ 
   font-size: 30px;
   line-height: 50px;
    color: rgb(33, 65, 47);
    padding: 0px 0px 30px;
    font-weight: 400;
    margin-top: 10px;

}
/* call to action Responsive */
 /* call to action section Responsive style here */
section.call-to-action{
   max-width: 400px;
  
   
    

} 
.call-to-action .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 400px;
    
}

.call-to-action .container .call-to-actions-infor h4{
    
    font-size: 30px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    line-height: 50px;
    
}
.call-to-actions-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
}
.call-to-actions-btns .discover {

     font-size: 15px;
    padding: 10px 10px;
    border-radius: 10px;
    letter-spacing: 0.5px;
    
}
.call-to-actions-btns a{

     font-size: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    letter-spacing: 0.5px;
    
}
/* steps responsive */

  /* left content responsive style */
   .steps-to-do .container{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 400px;
   }
 
 .steps-to-do .container .left-contents{
display: grid;
  grid-template-columns: 1fr;
 gap: 10px;
max-width: 400px;
   
 } 
 .container .left-contents .left-contents-infor h4{
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 20px;
 
}


 .container .left-contents .left-contents-infor p{
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    color: rgb(33, 39, 65);
    margin-bottom: 40px;
}

.left-contents .discover-btn a{
    font-size: 20px;
    padding: 20px 30px;
    border-radius: 15px;
    font-weight: 600;
   margin-left: 50px;
    
    

}

 /* right content responsive style */
 
.container .right-contents{
    display: grid;
    grid-template-columns:1fr;
    grid-column: 1/span 5;
    gap: 20px;
    margin-left: 30px;
    margin-top: 20px;
   max-width: 400px;
   
}
 
.container .right-contents .item {

    border-radius: 15px;
    padding: 40px 20px;
    width: 100%;
    height: 250px;
    position: relative;
    
}
.container .right-contents .item em{
    position: absolute;
    font-style: normal;
    font-size: 40px;
    font-weight: 700;
    right: 20px;
    top: 20px;
}

.container .right-contents .item h4{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 22px;
}

.container .right-contents .item p{
    font-size: 20px;
    line-height: 45px;
    color: #212741;
}

}