
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(255, 255, 255);
      font-family: "Poppins", sans-serif;


}


.container{
    max-width: 1120px;
    margin-inline:auto;
}
.about-heading{
    background-image: url("https://templatemo.com/templates/templatemo_574_mexant/assets/images/heading-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 215px 0px 120px 0px;
    text-align: center;
    width: 100%;

}
.about-heading .container{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.about-heading .container h2{
    font-size: 56px;
    color: #fff;
    font-weight: 700;
}
.about-heading .container .line{
    width: 80px;
    height: 6px;
    border-radius: 3px;
    background-color: #fff;
    margin: 20px auto 
}

.about-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* grid-template-columns: repeat(auto-fill,minmax(700px,1fr)); */
    gap: 30px;
    margin-top: 120px;
    
}
.about-container .left-img img{
    width: 100%;
    border-radius: 10px;
}

.about-container .provided-services{
    border-radius: 5px;
    padding: 50px 40px;
    background-color: rgb(255, 255, 255);
    margin-left: 30px;
    box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.1); 
    /* box-shadow: 0 0 10px rgb(139, 108, 108); */
}
.provided-services .service{
    
    border-bottom: 1px solid rgb(238, 238, 238);
}


.about-container .provided-services .Service-title{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    cursor: pointer;
    padding: 35px 0px !important;
}
.Service-title span:nth-child(1){
    font-size: 19.2px;
    color: rgb(39,39,65);
    font-weight: 600;
    line-height: 28.8px;
}

.Service-title span:nth-child(2){
    font-size: 19.2px;
    color: rgb(39,39,65);
    font-weight: 900;
    line-height: 28.8px;
}

.service p{
   font-size: 15px;
   line-height: 26px;
    color: rgb(33, 39, 65);
    padding: 0px 0px 30px;
    font-weight: 400;
    margin-top: 10px;
}
/* call to actions style */
.call-to-action{
    margin-top: 120px;
    background-image: url("https://templatemo.com/templates/templatemo_574_mexant/assets/images/cta-bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 80px 0px;
}
.call-to-action .container{
    display: flex;
    justify-content: space-between;


}


.call-to-action .container .call-to-actions-infor h4{
    
    font-size: 36px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    line-height: 50px;
}

.call-to-action .container .call-to-actions-infor h4 strong{
    color: rgb(255,81,26);
    font-weight: 700;
}

.call-to-actions-infor h4 em{
    font-style: normal;
    color: rgb(67,186,127);
}

.call-to-actions-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.call-to-actions-btns .discover{

    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(67, 186, 127);
    padding: 12px 30px;
    border-radius: 5px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}

.call-to-actions-btns a{
    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 81, 26);
    padding: 12px 30px;
    border-radius: 5px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: 0.3s;
    text-decoration: none;
}

/* steps to do style */
.steps-to-do{
    margin-top: 120px;
}
.steps-to-do .container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;

}

 .steps-to-do .container .left-contents{
    grid-column: 1 /span 2;
    grid-row: 1 /span 2; 
}



.container .left-contents .left-contents-infor h4{
    font-size: 22px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 40px
}


 .container .left-contents .left-contents-infor p{
    font-size: 15px;
    line-height: 26px;
    color: rgb(33, 39, 65);
    margin-bottom: 40px;
}

.left-contents .discover-btn a{
    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(67, 186, 127);
    padding: 12px 30px;
    border-radius: 5px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: 0.3s;
    text-decoration: none;
}




.container .right-contents{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column: 3/span 5;
    gap: 20px;
    margin-left: 30px;
   
}

.container .right-contents .item{
    border-radius: 5px;
    padding: 40px 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px;
    margin-bottom: 20px;
    position: relative;
    width: 268px;
    height: 180px;
}

.container .right-contents .item em{
    position: absolute;
    font-style: normal;
    font-size: 44px;
    color: rgb(67, 186, 127);
    font-weight: 600;
    right: 15px;
    top: 10px;
}

.container .right-contents .item h4{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 22px;
}

.container .right-contents .item p{
    font-size: 15px;
    line-height: 26px;
    color: #212741;
}

/* RESPONSIVE DESIGN OF THE ABOUT PAGE*/
@media(max-width:768px){
   /* about heading respnsive */
   .about-heading{
    min-width: 750px;
    
   }

    .about-container{
        grid-template-columns: 1fr;
        min-width: 750px;
        
    }
    
 .about-container .provided-services .service .Service-title span{

    font-size: 30px;
    color: rgb(39,39,65);
    font-weight: 600;
    line-height: 28.8px;
    
}
.service .service-Description{ 
   font-size: 30px;
   line-height: 50px;
    color: rgb(33, 65, 47);
    padding: 0px 0px 30px;
    font-weight: 400;
    margin-top: 10px;

}
/* call to action Responsive */
.call-to-action{
    min-width: 750px;
    max-width: 100%;
    

} 
.call-to-action .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
    
}

.call-to-action .container .call-to-actions-infor h4{
    
    font-size: 50px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    line-height: 70px;
    
}
.call-to-actions-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
}
.call-to-actions-btns .discover {

     font-size: 30px;
    padding: 20px 30px;
    border-radius: 20px;
    letter-spacing: 0.5px;
    
}
.call-to-actions-btns a{

     font-size: 30px;
    padding: 20px 30px;
    border-radius: 20px;
    letter-spacing: 0.5px;
    
}
/* steps responsive */

  /* left content responsive style */
 .steps-to-do .container .left-contents{
    grid-column: 1/span 5;
    min-width: 700px;
    margin-top: 30px;
 }
 .container .left-contents .left-contents-infor h4{
    font-size: 30px;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 50px;
    text-align: center;
}


 .container .left-contents .left-contents-infor p{
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    color: rgb(33, 39, 65);
    margin-bottom: 40px;
}

.left-contents .discover-btn a{
    font-size: 30px;
    padding: 30px 60px;
    border-radius: 15px;
    font-weight: 700;
    margin-left: 30px;
    
    

}

 /* right content responsive style */
 .container .right-contents{

    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1/span 5; 
   gap: 20px;
   min-width: 750px;
   margin-top: 60px;
   
   
} 
.container .right-contents .item {

    border-radius: 15px;
    padding: 80px 60px;
    width: 100%;
    height: 250px;
    position: relative;
    
}
.container .right-contents .item em{
    position: absolute;
    font-style: normal;
    font-size: 80px;
    font-weight: 700;
    right: 20px;
    top: 20px;
}

.container .right-contents .item h4{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 22px;
}

.container .right-contents .item p{
    font-size: 30px;
    line-height: 45px;
    color: #212741;
}

}