
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(255, 255, 255);
      font-family: "Poppins", sans-serif;


}


.container{
    max-width: 1120px;
    margin-inline:auto;
}
.services-heading{
    background-image: url("https://templatemo.com/templates/templatemo_574_mexant/assets/images/heading-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 215px 0px 120px 0px;
    text-align: center;
}
.services-heading .container{
    display: flex;
    flex-direction: column;
}
.services-heading .container h2{
    font-size: 56px;
    color: #fff;
    font-weight: 700;
}
.services-heading .container .line{
    width: 80px;
    height: 6px;
    border-radius: 3px;
    background-color: #fff;
    margin: 20px auto 
}

.main-services{
    margin-top: 120px;
}

 .main-services .container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    
    
}
 .main-services .container .service-item{
    display: flex;
    align-self: center;
    gap: 60px; 
    margin-bottom: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid #ecf8f2;
}

.main-services .container img{
    width: 100%;
    border-radius: 5px;
} 

.main-services .container .service-item .main-services-content{
    margin-left: 15px;
}

.main-services .container .service-item .main-services-content i{
    font-size: 64px;
    color: #43ba7f;
    background-color: #ecf8f2;
    width: 120px;
    height: 120px;
    text-align: center;
    line-height: 120px;
    border-radius: 5px;
}

.container .main-services-content h4{
    font-size: 36px;
    font-weight: 700;
    color: #212741;
    margin-top: 40px;
    margin-bottom: 30px;
}

.container .main-services-content p{
    font-size: 15px;
    line-height: 26px;
    color: #212741;
}


