
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(255, 255, 255);
      font-family: "Poppins", sans-serif;


}


.container{
    max-width: 1120px;
    margin-inline:auto;
}
/* service heading style */
.services-heading{
    background-image: url("https://templatemo.com/templates/templatemo_574_mexant/assets/images/heading-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 215px 0px 120px 0px;
    text-align: center;
}
.services-heading .container{
    display: flex;
    flex-direction: column;
}
.services-heading .container h2{
    font-size: 56px;
    color: #fff;
    font-weight: 700;
}
.services-heading .container .line{
    width: 80px;
    height: 6px;
    border-radius: 3px;
    background-color: #fff;
    margin: 20px auto 
}

/* main services style */
.main-services{
    margin-top: 120px;
}

 .main-services .container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    
    
}
 .main-services .container .service-item{
    display: flex;
    align-self: center;
    gap: 60px; 
    margin-bottom: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid #ecf8f2;
}

.main-services .container img{
    width: 100%;
    border-radius: 5px;
} 

.main-services .container .service-item .main-services-content{
    margin-left: 15px;
}

.main-services .container .service-item .main-services-content i{
    font-size: 64px;
    color: #43ba7f;
    background-color: #ecf8f2;
    width: 120px;
    height: 120px;
    text-align: center;
    line-height: 120px;
    border-radius: 5px;
}

.container .main-services-content h4{
    font-size: 36px;
    font-weight: 700;
    color: #212741;
    margin-top: 40px;
    margin-bottom: 30px;
}

.container .main-services-content p{
    font-size: 15px;
    line-height: 26px;
    color: #212741;
}

/* call to actions style */
.call-to-action{
    margin-top: 120px;
    background-image: url("https://templatemo.com/templates/templatemo_574_mexant/assets/images/cta-bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 80px 0px;
}
.call-to-action .container{
    display: flex;
    justify-content: space-between;
    

}


.call-to-action .container .call-to-actions-infor h4{
    
    font-size: 36px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    line-height: 50px;
}

.call-to-action .container .call-to-actions-infor h4 strong{
    color: rgb(255,81,26);
    font-weight: 700;
}

.call-to-actions-infor h4 em{
    font-style: normal;
    color: rgb(67,186,127);
}

.call-to-actions-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.call-to-actions-btns .discover{

    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(67, 186, 127);
    padding: 12px 30px;
    border-radius: 5px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}

.call-to-actions-btns a{
    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 81, 26);
    padding: 12px 30px;
    border-radius: 5px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: 0.3s;
    text-decoration: none;
}
/* Service Deatils section style */
.service-details{
    margin-top: 120px;
}
.service-details .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
/* service heading style */
.service-details .container .service-heading{
    position: relative;
    z-index: 2;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 70px;
}
.service-details .container .service-heading h6{
    
    font-size: 16px;
    text-transform: uppercase;
    color: #ff511a;
    font-weight: 700;

}

.service-details .container .service-heading h4{
    margin-top: 10px;
    line-height: 40px;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    color: #212741;

}
/* service tabs and content style */
.service-tabs-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 15%;
}
/* service tabs style */
.service-tabs{
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
}
.service-tabs span{
    padding: 15px 30px;
    display: inline-block;
    text-align: center;
    border-radius: 5px !important;
    margin-right: 30px;
    font-size: 18px;
    color: #212741;
    background-color: #fff;
    cursor: pointer;
    /* vertical-align: middle; */
    font-weight: 600;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

/* service details content style */
.service-details-content{
    display: flex;
    gap: 40px;
    border:0.5px solid white;
     padding: 20px 30px 30px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    
    
}
.service-details-content img{
    width: 100%;
    margin-right: 50px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.service-right-content{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px 20px 20px 0;

    

}
.service-right-content h4{
    font-size: 24px;
    color: #212741;
    margin-bottom: 25px;
    font-weight: 700;
    line-height: 40px;
    margin-right: 50px;
}
.service-right-content p{
    margin-bottom: 30px;
    font-size: 15px;
    line-height:26px;
    color: #212741;
    
}
.service-right-content span {

    font-size: 15px;
    font-weight: 600;
    color: #212741;
    font-style: italic;
    margin-bottom: 12px;
    line-height: 25px;
    
}

/* Responsive Design For Mobiles and Tablets */
@media(max-width:768px){
    .services-heading{
    min-width: 750px;
    
   }

    .services-heading-container{
        grid-template-columns: 1fr;
        min-width: 750px;
        
    }
    /* main service responsive style */
    .main-services .container .service-item{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    min-width: 700px;
    
}
.container .main-services-content h4{
    font-size: 50px;
    font-weight: 800;
}

.container .main-services-content p{
    font-size: 30px;
    line-height: 60px;
    
}
/* call to actions responsive style */
.call-to-action{
    min-width: 750px;
    max-width: 100%;
    

} 
.call-to-action .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
    
}

.call-to-action .container .call-to-actions-infor h4{
    
    font-size: 50px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    line-height: 70px;
    
}
.call-to-actions-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
}
.call-to-actions-btns .discover {

     font-size: 30px;
    padding: 20px 30px;
    border-radius: 20px;
    letter-spacing: 0.5px;
    
}
.call-to-actions-btns a{

     font-size: 30px;
    padding: 20px 30px;
    border-radius: 20px;
    letter-spacing: 0.5px;
    
}
/* section Details responsive style */
.service-details .container .service-heading{
    min-width: 700px;
}
.service-details .container .service-heading h6{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.service-details .container .service-heading h4{
     margin-top: 10px;
    line-height: 70px;
    font-size: 60px;
    font-weight: 800;
    text-align: center;
} 
/* service Details responsive style */
.service-tabs{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 700px;
}
.service-details-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    min-width: 700px; 
}
.service-tabs span{
    padding: 30px 40px;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
    
}
/* service right content responsive style */

.service-right-content h4{
    font-size: 40px;
    font-weight: 800;
    line-height: 70px;
    text-align: center;
    
}
.service-right-content p{
    margin-bottom: 30px;
    font-size: 30px;
    line-height:50px;
    text-align: center;
    
}
.service-right-content span {

    font-size:30px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    
}

}
